__pycache__/**
.vscode/**
.idea/**
env/**
venv/**
node_modules/**
*.code-workspace
secrets.py
migrations/__pycache__/**
migrations/versions/__pycache__/**
controllers/__pycache__/**
forms/__pycache__/**
models/__pycache__/**
