{% if (request.endpoint == endpoint) %}
	<div class="form-wrapper col-sm-12">
		<form method="post" class="form" action="{{advanced_url}}">
			{{ form.hidden_tag() }}
			<div class="form-group col-sm-12">
				<div class="form-group col-sm-3">
					<label>Name</label>
					{{ form.name(class_ = 'form-control', placeholder='Name', autofocus = true) }}
				</div>
				<div class="form-group col-sm-3">
					<label>City</label>
					{{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
					<input id="reset-adv-search" type="reset" value="Clear" class="btn btn-default btn-sm btn-block tmargin" title="Clear">
				</div>
				<div class="form-group col-sm-3">
					<label>State</label>
					{{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
					<input type="submit" value="Search" class="btn btn-primary btn-sm btn-block tmargin" title="Search">
				</div>
				<div class="form-group col-sm-3">
					<label>Genre</label>
					{{ form.genres(class_ = 'form-control', placeholder='Genre', autofocus = true) }}
				</div>
			</div>
		</form>
	</div>
{% else %}
	<div class="col-sm-12">
		<a href="{{advanced_url}}"><button class="btn btn-primary btn-sm col-sm-offset-10 bmargin">Advanced Search</button></a>
	</div>
{% endif %}
{% if (results.mode == 'basic') or (results.mode == 'advanced') %}
	<div class="col-sm-12">
		<h3>
			Number of search results
			{% if results.search_term|length %}
				for "{{results.search_term}}"
			{% endif %}
			: {{results.count}}
		</h3>
	</div>
{% endif %}
