{% extends 'layouts/main.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
{% include 'pages/advanced_search.html' %}
<div class="col-sm-12">
	<ul class="items">
		{% for artist in results.data %}
		<li>
			<a href="/artists/{{artist.id}}" 
				{% if artist.num_upcoming_shows > 0 %}
					title="{{artist.name}}, {{artist.num_upcoming_shows}} upcoming shows"
				{% else %}
					title="{{artist.name}}, no upcoming shows"
				{% endif %}
				>
				<i class="fas fa-users" aria-hidden="true"></i>
				<div class="item">
					<h5>{{artist.name}}</h5>
				</div>
				&nbsp;
				<i class="fa fa-music" aria-hidden="true"></i>
				<div class="item">
					<h5>{{artist.num_upcoming_shows}}</h5>
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}