{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
<p id="page-title" class="hidden">home</p>
<div class="row">
	<div class="col-sm-6">
		<h1>Fyyur 🔥</h1>
		<p class="lead">Where musical artists meet musical venues.</p>
		<h3>
			<a href="/venues"><button class="btn btn-primary btn-lg">Find a venue</button></a>
			<a href="/venues/create"><button class="btn btn-default btn-lg">Post a venue</button></a>
		</h3>
		<h3>
			<a href="/artists"><button class="btn btn-primary btn-lg">Find an artist</button></a>
			<a href="/artists/create"><button class="btn btn-default btn-lg">Post an artist</button></a>
		</h3>
		<p class="lead">Publicize about your show for free.</p>
		<h3>
			<a href="/shows/create"><button class="btn btn-default btn-lg">Post a show</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/front-splash.jpg') }}" alt="Front Photo of Musical Band" />
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<p class="lead">Latest listings:</p>
	</div>
	<div class="col-sm-12">
		<div class="latest btn-group" role="group" >
			{% for artist in artists %}
			<span class = "latest-item">
				<a id="latest_artist{{loop.index0}}" href="/artists/{{artist.id}}">
					<i id="latest_artist_name{{loop.index0}}" class="fas fa-users latest-item" aria-hidden="true">&nbsp;{{artist.name}}</i>
				</a>
			</span>
			{% endfor %}
		</div>
	</div>
	<div class="col-sm-12">
		<div class="latest">
			{% for venue in venues %}
			<span class = "latest-item">
				<a id="latest_venue{{loop.index0}}" href="/venues/{{venue.id}}">
					<i id="latest_venue_name{{loop.index0}}" class="fas fa-building latest-item" aria-hidden="true">&nbsp;{{venue.name}}</i>
				</a>
			</span>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}