{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows{% endblock %}
{% block content %}
<div class="row shows">
    {%for show in shows %}
    <div class="col-sm-4">
        <div class="tile tile-show">
            <img id="image{{loop.index0}}" src="{{show.artist_image_link}}" alt="Artist Image" />
            <h4 id="starttime{{loop.index0}}">{{ show.start_time|datetime('full') }}</h4>
            <h5>
                <a id="artist_link{{loop.index0}}" href="/artists/{{show.artist_id}}">
                    <span id="artist{{loop.index0}}">{{show.artist_name}}</span>
                </a>
            </h5>
            <p>playing at</p>
            <h5>
                <a id="venue_link{{loop.index0}}" href="/venues/{{ show.venue_id }}">
                    <span id="venue{{loop.index0}}">{{show.venue_name}}</span>
                </a>
            </h5>
        </div>
    </div>
    {% endfor %}
</div>
<!-- Pagination Links 
    based on https://betterprogramming.pub/simple-flask-pagination-example-4190b12c2e2e -->
<div class="text-right">
    <a href="{{ url_for('shows', page=pagination.prev_num) }}"
       class="btn btn-default 
       {% if pagination.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
    <!-- Loop through the number of pages to display a link for each-->
    {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            <!-- Check for the active page and set the link to "Active"-->
            {% if pagination.page == page_num %}
                <a href="{{ url_for('shows', page=page_num) }}"
                class="btn btn-warning">
                    {{ page_num }}
                </a>
            {% else %}
                <a href="{{ url_for('shows', page=page_num) }}"
                class="btn btn-default">
                    {{ page_num }}
                </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('shows', page=pagination.next_num) }}"
       class="btn btn-default 
       {% if pagination.page == pagination.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
   Showing page {{ pagination.page }} of {{ pagination.pages }}
</p>
{% endblock %}