{% extends 'layouts/main.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
{% include 'pages/advanced_search_snippet.html' %}

<p id="page-title" class="hidden">venues</p>
{% if (results.mode == 'city_state') %}
	<div class="col-sm-12">
		{% for area in results.areas %}
			<h3>{{area.city}}, {{area.state}}</h3>
			<ul class="items">
				{% for venue in area.venues %}
					{% include 'pages/venue_entry_snippet.html' %}
				{% endfor %}
			</ul>
		{% endfor %}
	</div>
{% else %}
	<div class="col-sm-12">
		<ul class="items">
			{% for venue in results.data %}
				{% include 'pages/venue_entry_snippet.html' %}
			{% endfor %}
		</ul>
	</div>
{% endif %}
{% endblock %}