{% extends 'layouts/main.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<p id="page-title" class="hidden">edit-show</p>
<div class="form-wrapper col-sm-12">
  <div class="form-wrapper">
    <form method="post" class="form" action="{{submit_action}}">
      {{ form.hidden_tag() }}
      <h3 class="form-heading">List a new show</h3>

      {% include 'forms/show_artist_snippet.html' %}

      <div class="form-group">
        <label for="venue_id">Venue</label>
        {{ form.venue_id(class_ = 'form-control', autofocus = true) }}
      </div>
      {% include 'forms/venue_availability_snippet.html' %}

      {% include 'forms/start_duration_snippet.html' %}

      {% include 'forms/form_errors_snippet.html' %}

      <div class="col-sm-12">
        <div class="col-sm-3 col-sm-offset-2">
          <a href="{{cancel_url}}" class="btn btn-default btn-lg btn-block" role="button" title="Cancel">Cancel</a>
        </div>
        <div class="col-sm-3 col-sm-offset-2">
          <input type="submit" value="{{submit_text}}" class="btn btn-primary btn-lg btn-block" title="{{submit_title}}">
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
